## Feature Engineering

Let's Create the features

Importing neccesary libraries

In [1]:
import numpy as np
import pandas as pd

Importing  Dataset

In [7]:
df = pd.read_csv('C://Users//paul//Downloads//Combined_DS_v10.csv')

In [8]:
df.head()

,SurveyDate,FormalEducation,ConvertedSalary,Hobby,Country,StackOverflowJobsRecommend,VersionControl,Age,Years Experience,Gender,RawSalary
0,2/28/18 20:20,Bachelor's degree (BA. BS. B.Eng.. etc.),NaN,Yes,South Africa,NaN,Git,21,13,Male,NaN
1,6/28/18 13:26,Bachelor's degree (BA. BS. B.Eng.. etc.),70841.0,Yes,Sweeden,7.0,Git;Subversion,38,9,Male,"70,841.00"
2,6/6/18 3:37,Bachelor's degree (BA. BS. B.Eng.. etc.),NaN,No,Sweeden,8.0,Git,45,11,NaN,NaN
3,5/9/18 1:06,Some college/university study without earning ...,21426.0,Yes,Sweeden,NaN,Zip file back-ups,46,12,Male,"21,426.00"
4,4/12/18 22:41,Bachelor's degree (BA. BS. B.Eng.. etc.),41671.0,Yes,UK,8.0,Git,39,7,Male,"£41,671.00"

In [9]:
df.dtypes

SurveyDate                     object
FormalEducation                object
ConvertedSalary               float64
Hobby                          object
Country                        object
StackOverflowJobsRecommend    float64
VersionControl                 object
Age                             int64
Years Experience                int64
Gender                         object
RawSalary                      object
dtype: object

A subset of only the numeric columns

In [12]:

numeric_columns_df = df.select_dtypes(include=['int', 'float'])

In [14]:
print(numeric_columns_df)

     ConvertedSalary  StackOverflowJobsRecommend
0                NaN                         NaN
1            70841.0                         7.0
2                NaN                         8.0
3            21426.0                         NaN
4            41671.0                         8.0
..               ...                         ...
994              NaN                         NaN
995          58746.0                         8.0
996          55000.0                         NaN
997              NaN                         NaN
998        1000000.0                         NaN

[999 rows x 2 columns]

In [15]:
hot_encoded = pd.get_dummies(df, columns=['Country'], prefix='BB')

In [17]:
print(hot_encoded.columns)

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary', 'BB_France', 'BB_India',
       'BB_Ireland', 'BB_Russia', 'BB_South Africa', 'BB_Spain', 'BB_Sweeden',
       'BB_UK', 'BB_USA', 'BB_Ukraine'],
      dtype='object')

Create a dummy variables for the Country column

In [20]:
dummy_varibles = pd.get_dummies(df, columns=['Country'], drop_first=True, prefix='DM')

In [22]:
print(dummy.columns)

Index(['SurveyDate', 'FormalEducation', 'ConvertedSalary', 'Hobby',
       'StackOverflowJobsRecommend', 'VersionControl', 'Age',
       'Years Experience', 'Gender', 'RawSalary', 'DM_India', 'DM_Ireland',
       'DM_Russia', 'DM_South Africa', 'DM_Spain', 'DM_Sweeden', 'DM_UK',
       'DM_USA', 'DM_Ukraine'],
      dtype='object')

Creating a series out of the Country column

In [24]:
countries = df['Country']

Getting the counts of each category¶

In [27]:
country_counts = countries.value_counts()

Printing the count values for each category

In [28]:
print(country_counts)

South Africa    166
USA             164
Spain           134
Sweeden         119
France          115
Russia           97
UK               95
India            95
Ukraine           9
Ireland           5
Name: Country, dtype: int64

Creating a mask for only categories that occur less than 10 times

In [29]:
mask = countries.isin(country_counts[country_counts < 10].index)

Printing the top 5 rows in the mask series

In [30]:
print(mask.head())

0    False
1    False
2    False
3    False
4    False
Name: Country, dtype: bool

Labeling all other categories as 'Other'

In [33]:
countries[mask] = 'Other'

<ipython-input-33-4e5a96ad2b3b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries[mask] = 'Other'

In [34]:
print(pd.value_counts(countries))

South Africa    166
USA             164
Spain           134
Sweeden         119
France          115
Russia           97
UK               95
India            95
Other            14
Name: Country, dtype: int64

Numeric Variables

Binarizing columns

Creating the Paid_Job column filled with zeros

In [37]:
df['Paid_Job'] = 0

Replace all the Paid_Job values where ConvertedSalary is > 0

In [39]:
df.loc[df['ConvertedSalary'] > 0, 'Paid_Job'] = 1

In [41]:
print(df[['Paid_Job', 'ConvertedSalary']].head())

   Paid_Job  ConvertedSalary
0         0              NaN
1         1          70841.0
2         0              NaN
3         1          21426.0
4         1          41671.0

Binning

In [43]:
df['equal_binned'] = pd.cut(df['ConvertedSalary'], 5)

In [45]:
print(df[['equal_binned', 'ConvertedSalary']].head())

          equal_binned  ConvertedSalary
0                  NaN              NaN
1  (-2000.0, 400000.0]          70841.0
2                  NaN              NaN
3  (-2000.0, 400000.0]          21426.0
4  (-2000.0, 400000.0]          41671.0

In [46]:
bins = [-np.inf, 10000, 50000, 100000, 150000, np.inf]

Binning labels

In [47]:
labels = ['Very low', 'Low', 'Medium', 'High', 'Very high']

In [49]:
df['boundary_binned'] = pd.cut(df['ConvertedSalary'], 
                                         bins, labels = labels)

Printing the first 5 rows of the boundary_binned column

In [51]:
print(df[['boundary_binned', 'ConvertedSalary']].head())

  boundary_binned  ConvertedSalary
0             NaN              NaN
1          Medium          70841.0
2             NaN              NaN
3             Low          21426.0
4             Low          41671.0